#contain{
	text-align: left;
}
.name{
	margin-top:5%;
}
body { 
	background-image:url("https://storage.pixteller.com/designs/designs-images/2019-03-27/05/simple-background-backgrounds-passion-simple-1-5c9b95c3a34f9.png");
     background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
 html{

 	height: 100%;
 }
 #contain h1{
 	font-weight: bold;
 	font-size: 3em;
 }
 #contain p{
 	font-weight: bold;
 	font-size:1.4em;

 }
.row{
	align-self: left;
}
img {
	align-self:left;
	height:80%;
	width: 80%;
}
.itag{
	font-size: 0.8em;
}
.img-fluid{
	border:3px solid pink;
}